<!DOCTYPE html>
<!--This is the base template. The code on this page shows up on every page. The other template files are all embedded in this file. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Put the title of your app here-->
    <title>OT CompSciApp</title>
    <!--This is where the link to the favicon and local CSS file goes.  The files that are referenced are in the static folder.-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}"  type="text/css" />
    <!--Bootstrap links go here-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--This is some javascript tools for displaying date and time-->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>
<body>

    <!--This is where the navbar is placed.  The navbar code is in the includes folder -->
    {% include 'includes/_navbar.html' %}

        <div class="container">

        <!-- Flask has a messages feature called "Flash" where you can pass messages to the template from the code.  This is where 
          those messages are displayed -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <mark>
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </mark><br><br>
            {% endif %}
        {% endwith %}

      </div>

    <!--This is where each of the templates are embedded in to this template -->
    <div class="container.fluid">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
