<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
<div id="banner">
<div class="container">
  <!-- I kind of like the current bootstrap nav with the new blue 

     <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="text-white mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
  -->

      <main role="main" class="inner cover text-white">
        <h1 class="cover-heading">Welcome to <strong>The Corals</strong>  Web App! <br> <small class="text-muted">-- by Dante, Jennifer, & Jason<small></h1>
        <p class="lead">
          
        </p>
        <p class="">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      
    </div>
</div>
</div>

{% endblock %}
