<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
<section id="banner">
  <div class="text-center">
        <div class="cover d-flex flex-column align-items-center text-white">
          <h1 class="cover-heading">
            Welcome to <strong>The Corals</strong>  Web App! <br> <small class="text-muted">-- by Dante, Jennifer, & Jason<small>
          </h1>
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          
        </div>        
  </div>
</section>

<section class="jumbotron jumbotron-fluid">
  <div class="container">

  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>

</section>

{% endblock %}
