{% extends "base.html" %}

{% block body %}
    <div class="container">
        <form action = "" method = "POST">
            {{form.hidden_tag()}}
            <p>
            {{form.name.label}}{{form.name()}}<br>
            {{form.image()}}<br>
            {{form.desc.label}}{{form.desc()}}<br>
            {{form.longitude.label}}{{form.longitude()}}<br>
            {{form.latitude.label}}{{form.latitude()}}<br>
            {{form.submit()}}<br>
            </p>
        </form>

    </div>

{% endblock %}